<div class="border-card br-25 mb-2">
	<div class="card-header pt-3 pb-2">
	  <div class="row w-100">
		<div class="col-7 d-flex">
		  <img
			class="mr-2 my-auto"
			src="[AVATARS_PATH_URL][CANDIDATE_AVATAR]"
			alt="avatar"
			style="width:30px;height:30px;"
		  />
		  <div class="my-auto name-text">[CANDIDATE_USERNAME]</div>
		</div>
		<div class="col-5 d-flex">
		  <p class="tech-text">[CANDIDATE_TITLE]</p>
		</div>
	  </div>
	</div>
	<div class="card-body px-0 py-0">
	  <div class="px-3 py-0">
		<p class="mb-0">
			placed bid on [APPLIED]
		</p>
	  </div>
	</div>
	<div class="card-footer pt-0 pb-0 d-flex justify-content-between">
		[ACTIONS]
	</div>
</div>
