<div class="border-card br-25 mb-2">
	<div class="card-header pt-3 pb-2">
	  <div class="row w-100">
		<div class="col-7 d-flex">
		  <img
			class="mr-2 my-auto"
			src="../assets/images/avatar1.png"
			alt=""
		  />
		  <div class="my-auto name-text">Jinnah Rosstova</div>
		</div>
		<div class="col-5 d-flex">
		  <p class="tech-text">iOS Developer</p>
		</div>
	  </div>
	</div>
	<div class="card-body px-0 py-0">
	  <div class="px-3 py-0">
		<p class="mb-0">
		  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
		  sed do eiusmod tempor incididunt ut labore et dolore
		  magna aliqua. Ut enim ad minim veniam, quis tempor
		  incididunt ut labore
		</p>
	  </div>
	</div>
	<div
	  class="card-footer pt-0 pb-0 d-flex justify-content-between"
	>
	  <button class="decline-btn">Decline</button>
	  <div class="star-ratings">
		<div class="fill-ratings" style="width: 80%">
		  <span>★★★★★</span>
		</div>
		<div class="empty-ratings">
		  <span>★★★★★</span>
		</div>
	  </div>
	  <button class="hire-btn">
		Hire <span class="ml-2">$20</span>
	  </button>
	</div>
</div>