                  <!--Start of Questions -1 -->
                  <div class="card br-25 mb-2 card-question" data-qid="[Q_ID]" style="cursor: pointer;">
                    <div class="card-header py-2" data-qid="[Q_ID]">
                      <img
                        class="mr-2 my-auto" style="width:40px;"
                        src="../assets/images/[RELEVANT_IMAGE]"
                        alt=""
                      />
                      <div class="name-text my-auto">[Q_TITLE]</div>
                    </div>
                    <div class="card-body px-0 py-0" data-qid="[Q_ID]">
                      <div class="subtitle-box">
                        [Q_EMERGENCY]
                      </div>
                      <div class="px-3 py-2">
                        <p class="mb-0">
							          [Q_DESCRIPTION_SHORT] ...
                        </p>
                      </div>
                    </div>
                  </div>                  
                  <!--End of  Questions -1 -->